* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    background-image: linear-gradient(rgb(138, 196, 219) rgb(50, 153, 236));
    background-color: rgb(219, 207, 138);
    margin: 90px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 236, 236);
    max-height: 100vh;
    width: 600px;
    max-width: 100%;
    padding: 20px;
    border-radius: 5px;
    /* overflow: hidden; Add this property to hide overflow content */
}

.mainContainer header {
    display: flex;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.mainContainer .add {
    display: flex;
    margin-bottom: 10px;

}

.mainContainer .add #taskInput {
    width: 90%;
    height: 30px;
    font-size: 17px;
    padding: 5px;
    padding: auto;
    border-style: none;

}

.mainContainer .add #addTask {
    width: 10%;
    height: 30px;
}

 .mainContainer .list {
    display: flex;
    overflow-y: auto;
    /* Add this property to enable vertical scrolling if needed */
    max-height: 100%;
    /* Set a maximum height to limit the size of the task list */
    flex-grow: 1;
    /* Allow the list to grow and take up available space */
    width: 100%;
}

.list .deleteButton {
    display: none;

}

.list .taskItemContainer:hover .deleteButton {
    display: inline-block;
}

.mainContainer .clear {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1em;
    color: rgb(10, 10, 10);
}

.mainContainer .clear #clearBtn {
    color: rgb(248, 241, 241);
    background-color: rgb(88, 39, 179);
    border: none;
    max-width: 100%;
    padding: 10px;

}


@media(min-width:600px) {
    body {
        max-width: 100%;
        background-color: rgb(0, 0, 0);
        color: white;
    }

.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 12, 73);
    max-height: 100vh;
    width: 400px;
    padding: 20px;
   

}

}